
    <!-- dashboard.component.html -->
    <div class="dashboard-container">
      <h1 class="dashboard-title">Bienvenido a SIGECI</h1>

      <div class="card-container">
        <!-- Primera fila de cards -->
        <div class="card card1">
          <div class="card-title">Card 1</div>
          <div class="card-number">100</div>
        </div>

        <div class="card card2">
          <div class="card-title">Card 2</div>
          <div class="card-number">75</div>
        </div>

        <div class="card card3">
          <div class="card-title">Card 3</div>
          <div class="card-number">50</div>
        </div>

        <!-- Segunda fila de cards -->
        <div class="card card4">
          <div class="card-title">Card 4</div>
          <div class="card-number">30</div>
        </div>

        <div class="card card5">
          <div class="card-title">Card 5</div>
          <div class="card-number">20</div>
        </div>

        <div class="card card6">
          <div class="card-title">Card 6</div>
          <div class="card-number">10</div>
        </div>
      </div>

      <div class="table-container">
        <!-- Tabla -->
        <table class="dashboard-table">
          <thead>
            <tr>
              <th>Título de Película</th>
              <th>Descripción</th>
              <th>Protagonista</th>
              <th>Cines</th>
              <th>Salas</th>
              <th>Fecha de publicación</th>
            </tr>
          </thead>
          <tbody>
            <!-- Filas de datos de la tabla -->
            <tr>
              <td>Película 1</td>
              <td>Descripción 1</td>
              <td>Protagonista 1</td>
              <td>Cine A</td>
              <td>Sala 1</td>
              <td>2023-01-01</td>
            </tr>

            <tr>
              <td>Película 1</td>
              <td>Descripción 1</td>
              <td>Protagonista 1</td>
              <td>Cine A</td>
              <td>Sala 1</td>
              <td>2023-01-01</td>
            </tr>
            <!-- Repite según sea necesario -->
          </tbody>
        </table>
      </div>
    </div>
